<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linecorp.id.research.viewbinding">

    <application>
        <activity
            android:name="com.linecorp.id.research.viewbinding.ui.activity.TransactionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>
